.ymal {
  margin-top: 5rem ;
  margin-bottom: 5rem ;
}
.ymal__header {
  text-align: center;
  margin-bottom: 4rem;
}

.ymal__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3.75rem;
}

@media (max-width: 1200px) {
  .ymal__list {
    gap: 1.85rem;
  }
}

@media (max-width: 768px) {
  .ymal__list {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .ymal__list {
    grid-template-columns: 1fr;
  }
}

.ymal__listitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.ymal__subheader {
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-color-primary);
  text-align: center;
}
.ymal__subheader a {
  color: inherit;
}
.ymal__subheader a::before {
  content: "";
  position: absolute;
  inset: 0;
}

.ymal__imgWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 150%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.ymal__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  object-fit: cover;
  transition-timing-function: ease;
  transition-property: transform;
  transition-duration: 200ms;
}
.ymal__listitem:has(.ymal__subheader a:hover) .ymal__img {
  transform: scale(1.05);
}
.ymal__colors {
  display: flex;
  gap: 0.5rem;
}
.ymal__color {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.ymal__tag {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 13px;
  line-height: 1.2;
  color: var(--text-color-light);
  background-color: #fff;
  padding: 4px 5px;
  margin: 0.5rem;
}
