.footer {
  border-top: 1px var(--border-color-light) solid;
  padding-top: 80px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 60px;
  }
}
@media (max-width: 460px) {
  .footer {
    padding-top: 40px;
  }
}

.footer-container {
  display: grid;
  grid-template-areas: "about company useful subscribe";
  grid-template-columns: 1fr 1fr 1fr 250px;
  column-gap: 1.25rem;
  row-gap: 3rem;
  margin-bottom: 5.4rem;
}
@media (max-width: 900px) {
  .footer-container {
    grid-template-areas: "about company useful" "subscribe subscribe empty";
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5rem;
  }
}
@media (max-width: 768px) {
  .footer-container {
    grid-template-areas: "company useful" "about subscribe";
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
  }
}
@media (max-width: 460px) {
  .footer-container {
    grid-template-areas: "company" "useful" "subscribe" "about";
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }
}

.footer_about {
  grid-area: about;
}
.footer_company {
  grid-area: company;
}
.footer_useful {
  grid-area: useful;
}
.footer_subscribe {
  grid-area: subscribe;
}

.footer h3 {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0.08r`em;
  text-transform: uppercase;
  color: var(--text-color-primary);
  margin: 0 0 1.75rem 0;
}

.footer nav li + li,
.footer address p + p {
  margin-top: 0.625rem;
}

.footer nav li a {
  line-height: 1.4;
  color: var(--text-color-light);
  text-decoration: none;
  letter-spacing: 0.07em;
}

.footer_copyright {
  font-size: 1rem;
  line-height: 1;
  display: block;
}

.footer .social {
  padding-top: 13px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.625rem;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.social a svg {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}

.social a svg:focus-visible path,
.social a svg:hover path {
  fill: var(--brand-blue);
}

.subscription_form {
  display: grid;
  grid-template-areas: "input" "checkbox" "button";
  align-items: center;
  column-gap: 0.625rem;
  row-gap: 1rem;
}
@media (max-width: 900px) {
  .subscription_form {
    grid-template-areas: "input button" "checkbox checkbox";
  }
}
@media (max-width: 768px) {
  .subscription_form {
    grid-template-areas: "input" "checkbox" "button";
  }
}

.subscription_form__input {
  grid-area: input;
}
.subscription_form__button {
  grid-area: button;
}
.subscription_form__checkbox {
  grid-area: checkbox;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.subscription_form__checkbox:focus-visible label {
  outline: 2px solid var(--brand-blue);
}
