@layer reset, default, typography, components, utilities;
@import url(./styles.tokens.css);
@import url(./styles.base.css);
@import url(./styles.header.css);
@import url(./styles.product.css);
@import url(./styles.accordion.css);
@import url(./styles.ymal.css);
@import url(./styles.footer.css);

@layer utilities {
  .container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .skip-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    color: #18191c;
    background: #10F3AF;
    transform: translateY(-100%);
  }
  .skip-link:focus {
    transform: translateY(0%);
  }

  .w-full {
    width: 100%;
  }

  .select {
    border: 1px solid var(--grayA9);
    font-size: var(--fz-md);
    padding: 0.75rem 0.5rem;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    font-size: var(--fz-sm);
    text-transform: uppercase;
  }

  .btn_primary {
    background-color: var(--brand-blue);
    color: #fff;
  }

  .btn_primary:hover {
    background-color: #292fad;
  }

  .btn_secondary {
    background: none;
    border-width: 1px;
    border-style: solid;
    border: 1px solid var(--grayA9);
    color: var(--text-color-primary);
  }

  .btn_secondary:hover {
    border-color: var(--grayA11);
    background: var(--grayA3);
  }

  .input {
    height: 50px;
    box-sizing: border-box;
    border: 1px solid var(--grayA9);
    padding: 10px;
  }

  .checkbox {
    width: 20px;
    height: 20px;
  }
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 1rem -0.55rem 3rem;
  color: var(--grayA11);
  font-size: 0;
  line-height: 1.3;
}

.breadcrumbs li > * {
  font-size: 0.85rem;
  padding: 0.25rem 0.55rem;
}

[popover]:popover-open {
  opacity: 1;
  transform: scaleY(1);
}

[popover] {
  margin: auto;
  padding: 1rem;
  border: 1px solid var(--grayA12);
  min-width: 25rem;
  min-height: min(25rem, 90vh);
  overflow-y: auto;

  /* Final state of the exit animation */
  opacity: 0;
  transform: scaleY(0);

  transition:
    opacity 0.3s,
    transform 0.3s,
    overlay 0.3s allow-discrete,
    display 0.3s allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/* Needs to be after the previous [popover]:popover-open rule
to take effect, as the specificity is the same */
@starting-style {
  [popover]:popover-open {
    opacity: 0;
    transform: scaleY(0);
  }
}

/* Transition for the popover's backdrop */
[popover]::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.3s allow-discrete,
    overlay 0.3s allow-discrete,
    background-color 0.3s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

[popover]:popover-open::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

/* The nesting selector (&) cannot represent pseudo-elements
so this starting-style rule cannot be nested */
@starting-style {
  [popover]:popover-open::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}


.input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.input-group__item {
  margin-left: 6px;
  margin-right: 6px;
}


.input-radio {
  position: relative;
  display: block;
}

.input-radio__input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.input-radio__visual {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 5;
  display: inline-flex;
  cursor: pointer;
  overflow: hidden;
}

.input-radio-size {
  border: 1px var(--border-color-light) solid;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.025em;
  color: var(--text-color-primary);
}

.input-radio__input:checked + .input-radio-size {
  border-color: var(--border-color-primary);
}

.input-radio__input:hover + .input-radio-size {
  background-color: rgba(0, 0, 0, 0.03);
}

.input-radio__input:disabled + .input-radio-size {
  border: none;
  background-color: #f2f2f2;
  color: #bdbdbd;
  cursor: default;
}

.input-radio__input:disabled + .input-radio-size::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: 200%;
  height: 1px;
  border-top: 1px var(--border-color-light) solid;
  transform: rotate(-45deg) translate(-50%, 50%);
}

.input-radio-color {
  padding: 3px;
}

.input-radio-color:hover {
  border: 1px var(--border-color-light) solid;
  padding: 2px;
}

.input-radio__input:checked + .input-radio-color {
  border: 1px var(--border-color-primary) solid;
  padding: 2px;
  cursor: default;
}

.input-radio__input:disabled + .input-radio-color {
  border: none;
  padding: 3px;
  cursor: default;
}

.input-radio__input:disabled + .input-radio-color::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: 200%;
  height: 1px;
  border-top: 1px var(--border-color-light) solid;
  transform: rotate(-45deg) translate(-50%, 50%);
}

.input-radio-color__sample {
  width: 100%;
  height: 100%;
  display: block;
}
